<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
	<div class="container">

		
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
					<span class="lead">contact us : contact@qqmedics.com</span>
				
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
 &copy; 2018 <img src="/images/logo.png" alt="" width="30px" height="30px"> QQmedics. All Rights Reserved
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
