<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta nam="description" content="Buy Cannabis, Psychedelics ,Lysergic acid diethylamide ,psychedelic mushroom online">
    <meta name="keywords" content="Heal your anxiety, Depression pills,psychedelics, shrooms, lsd, dmt, shop, online, trip, precription drugs store, Oxycotine, Xanax, buy drugs, Online Pharmacy, Vicodin Pills, Valium Pills, Anxiety drugs, Get high, Qmedics, QQmedics, Buy Percocet Online, No precription"
    />
    
    <!-- jQuery -->
<script src="/js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="/css/bootstrap-custom.css" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<!-- plugin: fancybox  -->
<script src="/plugins/fancybox/fancybox.min.js" type="text/javascript"></script>
<link href="/plugins/fancybox/fancybox.min.css" type="text/css" rel="stylesheet">

<!-- plugin: owl carousel  -->
<link href="/plugins/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/plugins/owlcarousel/assets/owl.theme.default.css" rel="stylesheet">
<script src="/plugins/owlcarousel/owl.carousel.min.js"></script>

<!-- custom style -->
<link href="/css/uikit.css" rel="stylesheet" type="text/css"/>
<link href="/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<!-- custom javascript -->
<script src="/js/script.js" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>



    <title>{{title}}</title>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5787336878629079",
    enable_page_level_ads: true
  });
</script>
  </head>
  <body>
    {{> header }}
  <div class="container">
     {{{body}}}

  </div>
    <div>
       {{> footer}}
    </div>
<script>

</script>
  </body>
  </html>
