<div class="container">

    <section class="py-5 text-center">
        <div class="card py-3">
            <h1 class="display-2">
                Thank You
            </h1>
            <p class="lead">Package should arrive within 2-3 business days. <br>
                You shall receive an email with your tracking number so you can monitor your package 
             <br>
             For more information email us at <strong>hello@qqmedics.com</strong>  </p>
             <a href="/" class="btn btn-dark">Go Back</a>
        </div>
    </section>
</div>